---
const { modal_id, title, image } = Astro.props
---

<p style="text-align: center; margin-top: 10px;">{ title }</p>
<div class="modal fade" id={ modal_id } tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header justify-content-center">
        <h1 class="modal-title fs-5" id="exampleModalLabel" style="text-align: center;">{ title }</h1>
      </div>
      <div class="modal-body">
        <img src={ image } class="img-fluid"><hr>
        <slot /><br>
      </div>
    </div>
  </div>
</div>